In [1]:
import pandas as pd

df = pd.read_csv("/Users/JooAnLee/final_project/eda/jooan/news(23-25)_summarized_external.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14087 entries, 0 to 14086
Data columns (total 87 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   news_id                      14087 non-null  object
 1   wdate                        14087 non-null  object
 2   title                        14087 non-null  object
 3   article                      14087 non-null  object
 4   press                        14087 non-null  object
 5   url                          14087 non-null  object
 6   image                        14087 non-null  object
 7   article_preprocessed         14087 non-null  object
 8   summary                      14087 non-null  object
 9   stock_list                   14087 non-null  object
 10  industry_list                14087 non-null  object
 11  summary_embedding            14087 non-null  object
 12  stock_name                   14087 non-null  object
 13  ticker                       14040 non-null  float64
 14  D_day_date                   14087 non-null  object
 15  D_minus_14_date              14087 non-null  object
 16  D_minus_7_date               14087 non-null  object
 17  D_minus_3_date               14087 non-null  object
 18  D_minus_2_date               14087 non-null  object
 19  D_minus_1_date               14087 non-null  object
 20  D_plus_1_date                14087 non-null  object
 21  D_plus_2_date                14087 non-null  object
 22  D_plus_3_date                14087 non-null  object
 23  D_plus_7_date                14087 non-null  object
 24  D_plus_14_date               13843 non-null  object
 25  news_date                    14087 non-null  object
 26  D_minus_14_date_close        13824 non-null  float64
 27  D_minus_14_date_volume       13824 non-null  float64
 28  D_minus_14_date_foreign      13755 non-null  float64
 29  D_minus_14_date_institution  13755 non-null  float64
 30  D_minus_14_date_individual   13755 non-null  float64
 31  D_minus_7_date_close         13830 non-null  float64
 32  D_minus_7_date_volume        13830 non-null  float64
 33  D_minus_7_date_foreign       13766 non-null  float64
 34  D_minus_7_date_institution   13766 non-null  float64
 35  D_minus_7_date_individual    13766 non-null  float64
 36  D_minus_3_date_close         13838 non-null  float64
 37  D_minus_3_date_volume        13838 non-null  float64
 38  D_minus_3_date_foreign       13774 non-null  float64
 39  D_minus_3_date_institution   13774 non-null  float64
 40  D_minus_3_date_individual    13774 non-null  float64
 41  D_minus_2_date_close         13843 non-null  float64
 42  D_minus_2_date_volume        13843 non-null  float64
 43  D_minus_2_date_foreign       13780 non-null  float64
 44  D_minus_2_date_institution   13780 non-null  float64
 45  D_minus_2_date_individual    13780 non-null  float64
 46  D_minus_1_date_close         13852 non-null  float64
 47  D_minus_1_date_volume        13852 non-null  float64
 48  D_minus_1_date_foreign       13790 non-null  float64
 49  D_minus_1_date_institution   13790 non-null  float64
 50  D_minus_1_date_individual    13790 non-null  float64
 51  D_day_date_close             13896 non-null  float64
 52  D_day_date_volume            13896 non-null  float64
 53  D_day_date_foreign           13841 non-null  float64
 54  D_day_date_institution       13841 non-null  float64
 55  D_day_date_individual        13841 non-null  float64
 56  D_plus_1_date_close          13901 non-null  float64
 57  D_plus_1_date_volume         13901 non-null  float64
 58  D_plus_1_date_foreign        13843 non-null  float64
 59  D_plus_1_date_institution    13843 non-null  float64
 60  D_plus_1_date_individual     13843 non-null  float64
 61  D_plus_2_date_close          13903 non-null  float64
 62  D_plus_2_date_volume         13903 non-null  float64
 63  D_plus_2_date_foreign        13844 non-null  float64
 64  D_plus_2_date_institution    13844 non-null  float64
 65  D_plus_2_date_individual     13844 non-null  float64
 66  D_plus_3_date_close          13904 non-null  float64
 67  D_plus_3_date_volume         13904 non-null  float64
 68  D_plus_3_date_foreign        13847 non-null  float64
 69  D_plus_3_date_institution    13847 non-null  float64
 70  D_plus_3_date_individual     13847 non-null  float64
 71  D_plus_7_date_close          13934 non-null  float64
 72  D_plus_7_date_volume         13934 non-null  float64
 73  D_plus_7_date_foreign        13878 non-null  float64
 74  D_plus_7_date_institution    13878 non-null  float64
 75  D_plus_7_date_individual     13878 non-null  float64
 76  D_plus_14_date_close         13739 non-null  float64
 77  D_plus_14_date_volume        13739 non-null  float64
 78  D_plus_14_date_foreign       13675 non-null  float64
 79  D_plus_14_date_institution   13675 non-null  float64
 80  D_plus_14_date_individual    13675 non-null  float64
 81  D_day_date_open              13896 non-null  float64
 82  D-day_change_open            13896 non-null  float64
 83  D-day_change                 13852 non-null  float64
 84  fx                           14087 non-null  float64
 85  bond10y                      14087 non-null  float64
 86  base_rate                    14087 non-null  float64
dtypes: float64(62), object(25)
memory usage: 9.4+ MB